version: "3.9"
services:
  devsu-database:
    hostname: postgres-db
    image: lmmdock/postgres-multi
    container_name: devsu-databases
    ports:
      - "${DATABASE_PORT:-5432}:5432"
    environment:
      POSTGRES_USERS: "devsu_owner:password|devsu_user:password"
      POSTGRES_DATABASES: "devsutecnica_db:devsu_owner"
      POSTGRES_DB: devsutecnica_db
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      args:
        DNS: ${DNS:-localhost}
        HTTP_APP_PORT: ${HTTP_APP_PORT:-8080}
    container_name: spring-backend
    ports:
      - "8080:8080"
    depends_on:
      - devsu-database
    networks:
      - app-network
    environment:
      - DATABASE_HOST=devsu-database
      - DATABASE_PORT=5432

  frontend:
    build:
      context: ./frontend
      args:
        DNS: ${DNS:-localhost}
        HTTP_APP_PORT: ${HTTP_APP_PORT:-8080}
    container_name: angular-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge